# Entorno virtual
venv_showz/
env/
venv/
.venv/

# Archivos de datos (Datasets)
*.csv
*.xlsx
*.json

# Archivos temporales de Jupyter y Python
.ipynb_checkpoints/
__pycache__/
*.py[cod]
*$py.class

# Carpetas de sistema o IDE
.vscode/
.idea/
.DS_Store